  <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="card mb-4 text-white bg-primary">
                <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                  <div>

                    <div class="fs-6 fw-normal">Temperature <span class="fs-6 fw-normal">({{content["temp"]}}<sup>0</sup>C
                       )</span></div>
                    <div>
                        {{content["btName"]}}
<!--                        {% if content["temp"] >= 37.5 or content["temp"] <= 36 %}-->
<!--                            Abnormal-->
<!--                        {% else %}-->
<!--                            Normal-->
<!--                        {% endif %}-->


                    </div>
                  </div>
                </div>
<!--                <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">-->
<!--                  <canvas class="chart" id="card-chart1" height="70"></canvas>-->
<!--                </div>-->
              </div>
            </div>
            <!-- /.col-->
            <div class="col-sm-6 col-lg-3">
              <div class="card mb-4 text-white bg-info">
                <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                  <div>
                    <div class="fs-6 fw-semibold">Heart Rate <span class="fs-6 fw-normal">({{content["heart"]}} ppm
                        )</span></div>
                    <div>
                        {{content["hrName"]}}

<!--                        {% if content["heart"] >= 20 or content["heart"] <= 12 %}-->
<!--                            Abnormal-->
<!--                        {% else %}-->
<!--                            Normal-->
<!--                        {% endif %}-->

                    </div>
                  </div>

                </div>
<!--                <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">-->
<!--                  <canvas class="chart" id="card-chart2" height="70"></canvas>-->
<!--                </div>-->
              </div>
            </div>
            <!-- /.col-->
            <div class="col-sm-6 col-lg-3">
              <div class="card mb-4 text-white bg-warning">
                <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                  <div>
                    <div class="fs-6 fw-semibold">Spo2<span class="fs-6 fw-normal">({{content["spo2"]}}%
                        )</span></div>
                    <div>
                        {{content["spName"]}}

<!--                        {% if content["spo2"] <= 90 %}-->
<!--                            Abnormal-->
<!--                        {% else %}-->
<!--                            Normal-->
<!--                        {% endif %}-->

                    </div>
                  </div>

                </div>
<!--                <div class="c-chart-wrapper mt-3" style="height:70px;">-->
<!--                  <canvas class="chart" id="card-chart3" height="70"></canvas>-->
<!--                </div>-->
              </div>
            </div>
            <!-- /.col-->
           <!--  <div class="col-sm-6 col-lg-3">
              <div class="card mb-4 text-white bg-danger">
                <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                  <div>
                    <div class="fs-6 fw-semibold">Respiration <span class="fs-6 fw-normal">({{content["resp"]}} ppm
                        )</span></div>
                    <div>
                        {{content["respName"]}}

                        {% if content["resp"] >= 20 or content["resp"] <= 12 %}
<!--                            Abnormal-->
<!--                        {% else %}-->
<!--                            Normal-->
<!--                        {% endif %}-->
<!--
                    </div>
                  </div>

                </div>
                <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                  <canvas class="chart" id="card-chart4" height="70"></canvas>
                </div>
              </div>
            </div>-->
            <!-- /.col-->
          </div>