    {% extends "base.html" %}

    {% block header_menu %}
    <div class="container-fluid row">
          <nav class="col-md-7" aria-label="breadcrumb">
            <ol class="breadcrumb my-0 ms-2">
              <li class="breadcrumb-item">
                <!-- if breadcrumb is single--><span>Home</span>
              </li>
              <li class="breadcrumb-item active"><span>Dashboard</span></li>
            </ol>
          </nav>
        <div class="col-md-5">
            <select style="padding:0px; padding-left: 5px" onchange="load_device_data()" class="form-select InputBox" id="device_no"  required="">
                {% for row in device %}
                    <option value='{{row["device_no"]}}'>{{row["device_no"]}}</option>

                {% endfor %}

            </select>

        </div>
        </div>
{% endblock %}
{% block vital_signs_summery %}
    <div id="current_vs">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="card mb-4 text-white bg-primary">
                <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                  <div>

                    <div class="fs-6 fw-normal">Temperature <span class="fs-6 fw-normal">({{content["temp"]}}<sup>0</sup>C
                       )</span></div>
                    <div>
                        {{content["btName"]}}
<!--                        {% if content["temp"] >= 37.5 or content["temp"] <= 36 %}-->
<!--                            Abnormal-->
<!--                        {% else %}-->
<!--                            Normal-->
<!--                        {% endif %}-->


                    </div>
                  </div>
                </div>
<!--                <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">-->
<!--                  <canvas class="chart" id="card-chart1" height="70"></canvas>-->
<!--                </div>-->
              </div>
            </div>
            <!-- /.col-->
            <div class="col-sm-6 col-lg-3">
              <div class="card mb-4 text-white bg-info">
                <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                  <div>
                    <div class="fs-6 fw-semibold">Heart Rate <span class="fs-6 fw-normal">({{content["heart"]}} ppm
                        )</span></div>
                    <div>
                        {{content["hrName"]}}

<!--                        {% if content["heart"] >= 20 or content["heart"] <= 12 %}-->
<!--                            Abnormal-->
<!--                        {% else %}-->
<!--                            Normal-->
<!--                        {% endif %}-->

                    </div>
                  </div>

                </div>
<!--                <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">-->
<!--                  <canvas class="chart" id="card-chart2" height="70"></canvas>-->
<!--                </div>-->
              </div>
            </div>
            <!-- /.col-->
            <div class="col-sm-6 col-lg-3">
              <div class="card mb-4 text-white bg-warning">
                <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                  <div>
                    <div class="fs-6 fw-semibold">Spo2<span class="fs-6 fw-normal">({{content["spo2"]}}%
                        )</span></div>
                    <div>
                        {{content["spName"]}}

<!--                        {% if content["spo2"] <= 90 %}-->
<!--                            Abnormal-->
<!--                        {% else %}-->
<!--                            Normal-->
<!--                        {% endif %}-->

                    </div>
                  </div>

                </div>
<!--                <div class="c-chart-wrapper mt-3" style="height:70px;">-->
<!--                  <canvas class="chart" id="card-chart3" height="70"></canvas>-->
<!--                </div>-->
              </div>
            </div>
            <!-- /.col-->
           <!--  <div class="col-sm-6 col-lg-3">
              <div class="card mb-4 text-white bg-danger">
                <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                  <div>
                    <div class="fs-6 fw-semibold">Respiration <span class="fs-6 fw-normal">({{content["resp"]}} ppm
                        )</span></div>
                    <div>
                        {{content["respName"]}}

                        {% if content["resp"] >= 20 or content["resp"] <= 12 %}
<!--                            Abnormal-->
<!--                        {% else %}-->
<!--                            Normal-->
<!--                        {% endif %}-->
<!--
                    </div>
                  </div>

                </div>
                <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                  <canvas class="chart" id="card-chart4" height="70"></canvas>
                </div>
              </div>
            </div>-->
            <!-- /.col-->
          </div>

    </div>

          <!-- /.row-->
             <div class="card mb-4">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="card-title mb-0">Vital Signs Data</h4>
                  <div class="small text-medium-emphasis">

<!--                   <button onclick="load_temperature_chart()">temp</button><button onclick="load_heart_chart()">heart</button>-->
</div>
                </div>

              </div>

                <div class="row justify-content-center">
                    <div class="col-md-12" style="margin: 10px 0 0 10px">
                         <form class="form-horizontal">
                            <fieldset>
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                    <input type="text" name="range" id="range" />
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <!--  temp  chart start-->
                    <div class="col-md-4 v_sign" id="temp">
		                <h3>Body Temperature Trend</h3>
		                <div class="msg" id="temp_msg"></div>
		                <div class="placeholders" id="temp_placeholder">
			                <figure class="v_chart" id="temp_chart"></figure>
		                </div>
	                </div>
                <!--    temp chart end-->

                    <!--               heart  chart start-->
                    <div class="col-md-4 v_sign" id="heart">
		                <h3>Heart Rate Trends</h3>
		                <div class="msg" id="heart_msg"></div>
		                <div class="placeholders" id="heart_placeholder">
			                <figure class="v_chart" id="heart_chart"></figure>
		                </div>
	                </div>
                <!--    heart chart end-->

                    <!--               spo2  chart start-->
                    <div class="col-md-4 v_sign" id="spo2">
		                <h3>Spo2 Trends</h3>
		                <div class="msg" id="spo2_msg"></div>
		                <div class="placeholders" id="spo2_placeholder">
			                <figure class="v_chart" id="spo2_chart"></figure>
		                </div>
	                </div>
                <!--    spo2 chart end-->

                     <!--               resp  chart start-->
                     <!--   <div class="col-md-6 v_sign" id="resp" >
		                <h3>Respiration Rate Trends</h3>
		                <div class="msg" id="resp_msg"></div>
		                <div class="placeholders" id="resp_placeholder">
			                <figure class="v_chart" id="resp_chart"></figure>
		                </div>
	                </div>-->
                <!--    resp chart end-->
                </div>

            </div>
            <div class="card-footer">
              <div class="row row-cols-1 row-cols-md-5 text-center">


              </div>
            </div>
          </div>
{% endblock %}
