 <table id="example2" class="display" style="width:100%">
			   <thead>
			   		<tr>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Context</th>
                        <th width="40px"><input class="flat-red" name="all2" type="checkbox"/></th>
                    </tr>
   				</thead>
				<tbody>
                 {% for row in recommendations %}
					<tr>
						<td>{{row["recoDescription"]}}</td>
						<td>{{row["recoType"]}}</td>
						<td>{{row["context"]}}</td>
						<td><input class="chk" style="margin: auto"  type="checkbox"  name="recommendationID" value="{{row['recoID']}}" /></td>
					</tr>

                 {% endfor %}

				</tbody>
   				<tfoot>
					<tr>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Context</th>
                        <th width="40px"><input class="flat-red" name="all22" type="checkbox"/></th>
                    </tr>
				</tfoot>
			</table>