
    {% extends "base_vs_device.html" %}

{% block header_menu %}
    <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0 ms-2">
              <li class="breadcrumb-item">
                <!-- if breadcrumb is single--><span>Home</span>
              </li>
              <li class="breadcrumb-item active"><span>Manage Vital Sign</span></li>
            </ol>
          </nav>
        </div>
{% endblock %}

{% block device_summary %}


    <div class="example" id="vital_signs_content" >

                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" onclick="load_device_list()" href="#device_panel" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Device List</a></li>

                  <li class="nav-item"><a onclick="load_device_form()" class="nav-link" data-coreui-toggle="tab" href="#device_panel" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Add New Device</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" onclick="load_device_logs()" href="#device_panel" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Device Logs</a></li>



                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="device_panel">


                  </div>
                </div>
              </div>
          <!-- /.row-->
{% endblock %}
